* {
    padding: 0;
    margin: 0;
}

/* ---- Task-1 Section Design Starts ---- */
#task-1 {
    height: 90vh;
    background-color: #F4F4F4;
    text-align: center;
    padding: 10px 35% 50px;
    position: relative;
}

#task-1 .main {
    background-color: #fff;
    position: relative;
    padding-top: 100px;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 250px; /* Adjust the height as needed */
}
#task-1 .main h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#task-1 .main p {
    margin-bottom: 10px;
}

#task-1 .second {
    margin-top: 20px;
}

#task-1 .second button {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 15px 80px;
    transition: .3s;
}

#task-1 .second button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
/* ---- Task-1 Section Design Ends ---- */


/* ---- Task-2 Section Design Starts ---- */
#task-2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#task-2 * {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    transition: .3s;
}

.box-title h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.box-img img {
    max-width: 100%;
    height: auto;
}

/* Specific box colors */
.box-watch {
    background-color: #00c4ff;
}

.box-shoe {
    background-color: #007bff;
}

.box-bag {
    background-color: #00934c;
}
/* ---- Task-2 Section Design Ends ---- */



/* ---- Task-2 Section Design Starts ---- */
/* ---- Task-2 Section Design Ends ---- */